/* body {
  padding-top: 70px;
} */

.alertBox1 {
  background: rgb(137, 137, 235);
  color: rgb(4, 4, 92);
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.alertBox2 {
  background: rgb(168, 23, 18);
  color: rgb(168, 179, 28);
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.list-group {
  display: none;
}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
  display: none;
  /* visibility: hidden;
  opacity: 0;
  transition: all 1s; */
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
} 

.show {
  display: block;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}

.main-bg {
  padding: 100px 20px;
  background: lightgray;
}

.dark {
  background: black;
  color:white;
}

.slide-container {
  width: 900vw;
  transition: all 1s;
  transform: translateX();
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.navbar {
  position:fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  transition: all 0.4s;
  font-size: 30px;
}